<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>Library_web</display-name>
  <welcome-file-list>
    <!-- <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file> -->
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>JDBC_DRIVER_CLASS</param-name>
    <param-value>com.mysql.cj.jdbc.Driver</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_URL</param-name>
    <param-value>jdbc:mysql://localhost:3306/sh_project_db_LibraryWeb?serverTimezone=UTC</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_USER</param-name>
    <param-value>root</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_PASSWORD</param-name>
    <param-value>SystemManager402</param-value>
  </context-param>
  <context-param>
    <param-name>JDBC_DB_NAME</param-name>
    <param-value>sh_project_db_LibraryWeb</param-value>
  </context-param>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>mvc.util.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>utf-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/upload/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/css/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/fonts/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>default</servlet-name>
  	<url-pattern>/js/*</url-pattern>
  </servlet-mapping>
  
<!--   <jsp-config>
  	<jsp-property-group>
		<url-pattern>/*</url-pattern>
		<include-prelude>/WEB-INF/init/prelude.jsp</include-prelude>
		<include-coda>/WEB-INF/init/coda.jsp</include-coda>  		
  	</jsp-property-group>
  </jsp-config> -->
</web-app>